<%- include('../include/head.ejs') %>

</head>

<body>

<%- include('../include/nav.ejs') %>

<main class="centered">
    <h1><em>Gift: </em> <%= gift.name %> </h1>
    <hr>
    <h2><em>Details: </em><%= gift.details %></h2>
    <p><em>Quantity: </em><%= gift.quantity %> %></p>
    <a href="/admin/myList/" class="btn">Back to my list</a>
</main>

<%- include('../include/footer.ejs') %>