<%- include('../include/head.ejs') %>

<link rel="stylesheet" href="/css/create.css">
<link rel="stylesheet" href="/css/edit.css">

</head>
<body>

<%- include('../include/nav.ejs') %>

<main class="gift">

    <div class="containerList">

        <img class="img-list" alt="background gift" src="/img/backgroundList.jpg">

        <div class="overlayTextList">

            <h1 class="title-list">My list</h1>

            <div class="gift__box">
                <ol>
                    <%
                    for (var i = 0; i < gifts.length; i++) {
                    %>

                        <li class="gift-list-name"> <%= gifts[i].name %> </li>
                        <div>
                            <div class="btnList">
                                <a href="/admin/<%= gifts[i].id %>" class="btn">Detail</a>
                                <form action="/admin/delete" method="POST">
                                    <input type="hidden" value="<%= gifts[i].id %>" name="giftId">
                                    <button class="btn" type="submit">Delete</button>
                                </form>
                                <a href="/admin/edit/<%= gifts[i].id %>" class="btn">Edit</a>
                            </div>
                        </div>
                        <p></p>
                    <%
                    }
                    %>

                </ol>
                <i class="fas fa-plus"></i>
                <a class="add" href="/admin/create">Add a gift to my list</a>
            </div>
        </div>
    </div>
</main>

<%- include('../include/footer.ejs') %>

