<%- include('include/head.ejs') %>
<link rel="stylesheet" href="/css/login.css">

</head>

<body>

<%- include('include/nav.ejs') %>

<main>
    <h1>So, you need to reset your password? </h1>
    <h2><em>Go ahead!</em></h2>
    <form class="login" action="/newPassword" method="POST">
        <div class="form-control">
            <label for="Password">Password:</label>
            <input type="Password" name="Password" id="Password">
        </div>
        <input type="hidden" name="userId" value="<%= userId %>">
        <input type="hidden" name="passwordToken" value="<%= passwordToken %>">
        <button type="submit">Update password!</button>
    </form>
    </div>
</main>

<%- include('include/footer.ejs') %>
